node_modules/
dist/
dist-electron/
release/
*.log
.DS_Store

# Supabase CLI local cache
supabase/.temp/

# environment
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.vercel
